<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>Controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recibo</servlet-name>
        <servlet-class>Controlador.Recibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRecibo</servlet-name>
        <servlet-class>Controlador.ControladorRecibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor</servlet-name>
        <servlet-class>Controlador.ControladorProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBodega</servlet-name>
        <servlet-class>Controlador.ControladorBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Controlador.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>Controlador.ControladorProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategorias</servlet-name>
        <servlet-class>Controlador.ControladorCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDocumento</servlet-name>
        <servlet-class>Controlador.ControladorDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFacturas</servlet-name>
        <servlet-class>Controlador.ControladorFacturas</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>Controladornuevo</servlet-name>
        <servlet-class>Controlador.ControladorProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nuevo</servlet-name>
        <servlet-class>Controlador.ControladorProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorValidar</servlet-name>
        <servlet-class>Controlador.ControladorValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRecibo2</servlet-name>
        <servlet-class>Controlador.ControladorRecibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedores</servlet-name>
        <servlet-class>Controlador.ControladorProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUnidMedida</servlet-name>
        <servlet-class>Controlador.ControladorUnidMedida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompras</servlet-name>
        <servlet-class>Controlador.ControladorCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controladorventas</servlet-name>
        <servlet-class>Controlador.Controladorventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFacturaventa</servlet-name>
        <servlet-class>Controlador.ControladorFacturaventa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ControladorProveedor</servlet-name>
        <url-pattern>/ControladorProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBodega</servlet-name>
        <url-pattern>/ControladorBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/ControladorProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategorias</servlet-name>
        <url-pattern>/ControladorCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDocumento</servlet-name>
        <url-pattern>/ControladorDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFacturas</servlet-name>
        <url-pattern>/ControladorFacturas</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControladorValidar</servlet-name>
        <url-pattern>/ControladorValidar</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ControladorProveedores</servlet-name>
        <url-pattern>/ControladorProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUnidMedida</servlet-name>
        <url-pattern>/ControladorUnidMedida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompras</servlet-name>
        <url-pattern>/ControladorCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controladorventas</servlet-name>
        <url-pattern>/Controladorventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFacturaventa</servlet-name>
        <url-pattern>/ControladorFacturaventa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
